$primary: #d2a787;
$secondary: #027671;
$background: #fafafa;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
}

.header {
  border-radius: 0 0 12px 12px;
  background-color: $background;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 82px;
}

.main {
  margin-top: -1px;
  min-height: calc(100vh - 137px);
  padding-top: 1px;
}

.content_wrapper {
  margin-top: 40px;
}

.panel {
  display: flex;
  flex-direction: column;
}

.input_wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.button_wrapper {
  margin: 30px 0 10px;
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
}
